*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}
#scorecont{
    left: 2222px;
    position: absolute;
    border: solid black 10px;
    text-align: center;
    width: 463px;
    font-size: 62px;
    font-weight: 600;
    border-radius: 11px;
    top: 45px;
}
.gamecontainer{
    background-image: url(bg_image.jpg);
    background-repeat: no-repeat;
    background-size: 220vh 100vh;
    height: 100vh;
    width: 100%;
}
.gameover{
    font-weight: bold;
    position: relative;
    text-align: center;
    color: black;
    font-size: 86px;
    top: 45px;
}
.tort{
    background-image: url(tort.png);
    background-repeat: no-repeat;
    width: 290px;
    height: 150px;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 143px; 
}
.dragon{
    background-image: url(pixlr-bg-result.png);
    background-repeat: no-repeat;
    width: 420px;
    height: 290px;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 1900px; 
}
.animatedTort{
    animation: tort 0.8s linear;
}
.dragonAni{
    animation: dragon 10s linear infinite;
}
@keyframes tort{
    0%{
        bottom: 0;
    }
    50%{
        bottom: 755px;
    }
    100%{
        bottom: 0;
    }
}
@keyframes dragon{
    0%{
        left: 100vw;
    }
    100%{
        left: -10vw;
    }
} 